body
{
    color: rgb(238,238,238);
    background-color: rgb(7,24,42);
    display: flex;
    justify-content: center;
    aling-items: center;
    min-height: 100vh;
}
ul
{
    position: relative;
    transform: skewY(-15deg);  
}

ul li
{
    position: relative;
    list-style: none;
    whith: 120px;
    background: #3e3f46;
    padding: 15px;
    transition: 0.5s;

    
    
}
ul li:hover
{
    transform: translateX(-50px);
    background: var(--clr);


}


.boton1
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: rgb(11, 52, 80);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 500;
    border: none;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 12px;

}
.boton1:hover 
{
    background-color: rgb(15, 108, 248);
}


.detalles2
{
    background-color: rgb(44, 49, 49);
    text-transform: capitalize;
    display: none;
    padding: 12px;
    border-radius: 12px;
    font-size: 18px;
    transition: 1s ease all;
    
}
.detalles2:hover{
    background-color: rgb(39,98,233);
    color: white
    font-size: 22; ;
    font-family: cursive;

    
}
.insertar{
    color: white;
    background-color: #0B7F94;


}
.input{
    color: white;
    background-color: #034753 ;
    border-radius: 4px;
    width: 50%;
}
.titulo{
    background-color: rgb(89,227,89);
    border-radius: 15px;
    padding: 20px;
    text-transform: capitalize;
}
.contenedor{
    width: 80%;
    max-width: 1000px;
    margin:0 auto;
   display: flex;
   justify-content: space-around;
}
.registrar{
    
    border-radius: 4px;
    background-color: #087692;
    padding: 5%;
}
.consultar{
    
    padding: 5%;
    border-radius: 4px;
    background-color: #0E474B;

}
.texto{
    text-transform: capitalize;
    text-shadow: 0.1em 0.1em 0.2em black
}
.link{
    color: #F2901B;
}
.link2{
    color: #21FF19;
}
.tabla{
    color: white;
    background-color: #025543;

}

.info{
  background-color: rgba(1,111,149,0.18);
  font-family: fantasy;
  padding: 25px;
  border-radius: 7px;
  color: rgb(254,177,49);
}
