@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

body
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  

}
.cuerpo
{
  display: felx;
  justify-content: center;
  aling-items: center;
  min-height: 100vh;
  background: #434750;
}

ul
{
position: relative;
  transform: skewY(-15deg);
}
ul li
{
  position: relative;
  list-style: none;
  whit: 120px;
  background: #3e3f46;
  padding: 15px;
  transition: 0.5s;
 
}

ul li:hover
{
  transform: traslateX(-50px);
  
}
