@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  

}
body
{
  display: flex;
  justify-content: center;
  aling-items: center;
  min-height: 100vh;
  background: #434750;
}

.lista1
{
  position: relative;
  transform: skewY(-15deg);
}
.lista2
{
  position: relative;
  list-style: none;
  whit: 120px;
  background: #3e3f46;
  padding: 15px;
  transition: 0.5s;
  z-index: calc(1 * var(--i));
 
}

.lista2:hover
{
  transform: translateX(-50px);
  background: var(--clr);
  
}
.lista2::before
{
  content; "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #3e3f46;
  filter: brightness(0.7);
  transform-origin: rigt;
  transform: skewY(45deg);


}
