*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}


body
{
  display: felx;
  justify-content: center;
  aling-items: center;
  min-height: 100vh;
  background: #434750;
}

ul
{
    position: relative;
    transform: skewY(-15deg);  
    color: white;
}

ul li
{
    position: relative;
    list-style: none;
    whith: 120px;
    background: #3e3f46;
    padding: 15px;
    transition: 0.5s;

    
    
}
ul li:hover
{
    transform: translateX(-50px);
    background: var(--clr);


}
